<div class="container-fluid movies">
    <div class="row">
        <div class="col-6 offset-3 text-center pt-2 pl-5">
            <h1>{{movie.title}}</h1>
            <img src="{{movie.image}}" alt="" style="height: 300px; width: 300px">
            <div class="text-left movie-info mt-2">
                <h3>Genre:</h3>
                <h4>{{movie.genre}}</h4>

                <h5>Starring:</h5>
                <ul>
                    {{#each movie.actors}}
                        <li class="mb-2">
                            <a href="/celebrities/{{this._id}}">
                                <img src="{{this.image}}" alt="" style="height: 50px; width: 50px">
                                {{this.name}}
                            </a>
                        </li>
                    {{/each}}
                </ul>

                <h5>Plot:</h5>
                <h6>{{movie.plot}}</h6>
            </div>

        </div>
    </div>
</div>